@{* 
    Name: default-pointofsale-48mm
    Updated: 07052018
    48mm x height
*}

@{* TEMPLATE SETTING *}
@{$TITLE="Sales Receipt"}
@{$FONT="sans-serif"}
@{$SHOW_DISCOUNT_PERCENT=false}
@{$SHOW_COMPANY_CONTACT=true}
@{$SHOW_COMPANY_ADDRESS=true}
@{* /TEMPLATE SETTING *}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">
<title>@{$TITLE} @{$data->pointofsale->code}</title>
<style>
html {
    font-family: @{$FONT};
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    line-height: 1.15; /* 1 */
}

body {
    font-size: 10px;
    margin: 0;
    background: #fff;
}

table {
    border-collapse: collapse !important;
    border-spacing: 0;
    border: none;
}

span {
    padding: 0;
    margin: 0;
}

td,
th {
    padding: 0;
    text-transform: uppercase;
}

td {
    font-size: 10px;
    text-align: left;
}

.width-px-10 {
    width: 10px;
}

.width-px-40 {
    width: 40px;
}

.width-px-60 {
    width: 60px;
}

.width-px-90 {
    width: 60px;
}

.width-px-100 {
    width: 100px;
}

.posname {
    font-size: 10px;
    text-transform: uppercase;
    margin:0px;
    padding:0px;
}

.text-block {
    display: block;
}

.text-block-inline {
    display: inline-block;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-normal {
    text-transform: none;
}

.text-nowrap {
    white-space: nowrap;
}

td.cell {
    vertical-align:top;
    padding:4px;
    border: 1px dotted #000000;
}

td.cell-empty {
    border: none;
}

table.main {
    width: 181.417323px;
    border: none;
    padding: 0;
    margin: 0;
    margin-left:auto;
    margin-right:auto;
    border-spacing: 0;
    page-break-after: always;
}

table.header {
    clear: both;
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 0px;
    border-spacing: 0;
}

table.header td {
    vertical-align:top;
}

table.item {
    clear: both;
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    margin-left:auto;
    margin-right:auto;
    margin-top: 0px;
    margin-bottom: 5px;
    border-spacing: 0;
}

table.item th {
    background:#ffffff;
    color:#000000;
    padding:4px;
    border-top: 1px dotted #000000;
}

table.item td {
    border-left:none;
    border-right: none;
}

h4.title {
    text-transform: uppercase;
    font-size: 10px;
}

/* printer */
@page {
    margin: 0;
}

@media print {
    table.main {
        width: 48mm;
    }
}

</style>
</head>
<body scroll="auto">

<!-- MAIN -->
<table class="main">
<tr>
<td>

<!-- HEADER -->
<table class="header">
<tr>
<td class="text-center">

<h4 class="posname">
@{$data->pos_name}
</h4>

<span class="text-block">
    @{$data->company->name}
    @{!_null($data->company->regnumber)?" (".$data->company->regnumber.")":""}
</span>

<!-- SHOW_COMPANY_ADDRESS -->
@{if="!_null($data->company->address) && (bool)$SHOW_COMPANY_ADDRESS"}
    <span class="text-block text-normal">
        @{$data->company->address}

        <span class="text-capitalize">
            <!-- COMPANY CITY -->
            @{!_null($data->company->city) ? $data->company->city."," : ""}

            <!-- COMPANY POSTCODE -->
            @{!_null($data->company->postcode) ? $data->company->postcode."," : ""}

            <!-- COMPANY STATE -->
            @{!_null($data->company->state) ? $data->company->state."," : ""}

            <!-- COMPANY COUNTRY -->
            @{!_null($data->company->country) ? $data->company->country : ""}
        </span>
    </span>
@{/if}
<!-- /SHOW_COMPANY_ADDRESS -->

<!-- SHOW_COMPANY_CONTACT -->
@{if="(bool)$SHOW_COMPANY_CONTACT"}
    @{if="!_null($data->company->phone) || !_null($data->company->fax)"}
        <span class="text-block text-normal">
            <!-- COMPANY PHONE -->
            @{if="!_null($data->company->phone)"}
                Tel: @{$data->company->phone}
            @{/if}

            <!-- COMPANY FAX -->
            @{if="!_null($data->company->fax)"}
                Fax: @{$data->company->fax}
            @{/if}
        </span>
    @{/if}

    @{if="!_null($data->company->email) || !_null($data->company->website)"}
        <span class="text-block text-normal">
            <!-- COMPANY EMAIL -->
            @{if="!_null($data->company->email)"}
                @{$data->company->email}
            @{/if}

            <!-- COMPANY WEBSITE -->
            @{if="!_null($data->company->website)"}
                @{$data->company->website}
            @{/if}
        </span>
    @{/if}
@{/if}
<!-- /SHOW_COMPANY_CONTACT -->

<br>
<!-- information -->
<center>
<table>

@{if="$data->list->has_tax && _array($data->list->tax_regnumber)"}
    @{loop="$data->list->tax_regnumber"}
        @{if="_null($key)"}@{continue}@{/if}
        @{$has_tax=true}
        <tr>
            <td>@{$key} No</td>
            <td>: @{$value}</td>
        </tr>

    @{/loop}
@{/if}

<tr><td class="text-nowrap">Sale No</td><td class="text-normal">: @{$data->pointofsale->code}</td></tr>
<tr><td class="text-nowrap">Customer</td><td>: @{$data->customer->name}</td></tr>
<tr><td class="text-nowrap">Date/Time</td><td class="text-nowrap">: @{$data->pointofsale->ldate|_format_datetime}</td></tr>

@{if="!_null($data->pos_location_name)"}

<tr><td class="text-nowrap">Location</td><td class="text-normal">: @{$data->pos_location_name}</td></tr>

@{/if}
</table>
</center>
<!-- /information -->

@{if="!_null($TITLE)"}
<h4 class='title'>@{$TITLE}</h4>
@{else}
<br>
@{/if}

</td>
</table>
<!-- /HEADER -->

<!-- ITEMS HEADER -->
<table class="item">
<tr>
<th class="text-right width-px-10">No.</th>
<th class="text-left">Item</th>
<th class="text-center width-px-40">Qty</th>
<th class="text-right width-px-60">Amount</th>
</tr>

@{$total=0}
@{$total_tax_rate=0}
@{$tax_exclusive=array()}
@{$tax_inclusive=array()}
@{$total_discount_rate=0}

@{loop="$data->list->items"}
    <tr>
    <td class="cell text-right">
        @{$counter+1}.
    </td>
    <td class="cell">
        @{$value.code}<br>
        @{$value.name|nl2br}
    </td>

    <td class="cell text-center">
        @{$value.quantity}
    </td>

    @{if="$data->list->has_discount && $data->pointofsale->discount_option == 1"}

        @{$discount_rate=$value.discount_rate}

        @{if="$value.discount_percent"}
            @{$discount_rate=_int_output($discount_rate)}
            @{$discount_rate_rate=_calc_percent($value.subtotal, $discount_rate)}
        @{else}
            @{$discount_rate_rate=$discount_rate}
        @{/if} <!-- / discount_percent -->

        @{$value.price=$value.price - $discount_rate_rate}
        @{$discount_rate_rate|_int_output_thousands_sep}
        @{$discount_rate_rate=$discount_rate_rate * $value.quantity}
        @{$total_discount_rate=$total_discount_rate + $discount_rate_rate}

    @{/if} <!--/ discount_option == 1 -->

    @{$value.subtotal=$value.price * $value.quantity}
    @{if="$value.subtotal < 0"}
        @{$value.subtotal=0}
    @{/if}
    @{$total=$total + $value.subtotal}

    <td class="cell text-right">
        @{$value.subtotal|_int_output_thousands_sep}
    </td>

<!-- tax per item -->
    @{if="$data->list->has_tax && $data->pointofsale->tax_option == 1"}
        @{$tax_rate_rate=0}
        @{$taxcode_name=""}
        @{if="!_null($value.tax_name)"}

            @{if="$value.taxcode_id > 0"}
                @{$taxcode_name=$value.taxcode_name}
                @{$value.tax_name=$value.tax_name." ".$taxcode_name}
                @{$value.tax_percent=$value.taxcode_percent} 
                @{$value.tax_rate=$value.taxcode_rate} 
            @{/if}

            @{$tax_name=$value.tax_name}
            @{$tax_rate=$value.tax_rate}

            @{if="$value.tax_percent == 1"}
                @{$tax_rate=_int_output($tax_rate)}

                @{$divide=100}
                @{if="$value.tax_operation == 1"}
                    @{$divide=100+$tax_rate}
                @{/if}

                @{$tax_rate_rate=_calc_percent($value.subtotal, $tax_rate, $divide)}

                @{$tax_text="$tax_rate%"}
            @{else}
                @{$tax_rate=_int_output($tax_rate,2)}
                @{$tax_rate_rate=$tax_rate}
                @{$tax_text="$tax_rate"}
            @{/if} <!-- / tax_percent -->

            @{if="$value.tax_operation == 0"}
                @{$tax_exclusive[$tax_name]['rate']=$tax_text}
                @{if="!isset($tax_exclusive[$tax_name]['total'])"}
                    @{$tax_exclusive[$tax_name]['total'] = 0}
                @{/if}
                @{$tax_exclusive[$tax_name]['total']=$tax_exclusive[$tax_name]['total'] + $tax_rate_rate}
                @{$total_tax_rate=$total_tax_rate + $tax_rate_rate}
            @{else}
                @{$tax_inclusive[$tax_name]['rate']=$tax_text}
                @{if="!isset($tax_inclusive[$tax_name]['total'])"}
                    @{$tax_inclusive[$tax_name]['total'] = 0}
                @{/if}
                @{$tax_inclusive[$tax_name]['total']=$tax_inclusive[$tax_name]['total'] + $tax_rate_rate}
            @{/if}
        @{/if}
    @{/if} <!--/ tax_option == 1 -->
<!-- /tax per item -->
</tr>
@{/loop}
</table>
<!-- /ITEMS HEADER -->

<!-- ITEMS FOOTER -->
<table class="item">
<tr>
<td class="cell cell-empty">&nbsp;</td>
<td class="cell cell-empty width-px-100 text-nowrap text-right">Total</td>
<td class="cell cell-empty width-px-10 text-nowrap text-right">@{$data->currencycode->symbol}</td>
<td class="cell cell-empty width-px-60 text-nowrap text-right">@{$total|_int_output_thousands_sep}</td>
</tr>

<!-- discount rate -->
@{if="$data->list->has_discount"}
    @{if="$data->pointofsale->discount_option == 2"}
        @{$total_discount_rate=$data->pointofsale->total_discount}
    @{/if}

    @{if="$total_discount_rate != 0"}
        @{if="$data->pointofsale->discount_option == 2"}
            <tr>
            <td class="cell cell-empty">&nbsp;</td>
            <td class="cell cell-empty width-px-100 text-nowrap text-right">Discount</td>
            <td class="cell cell-empty width-px-10 text-nowrap text-right">@{$data->currencycode->symbol}</td>
            <td class="cell cell-empty width-px-60 text-nowrap text-right">

                @{$total_discount_rate|_int_output_thousands_sep}

                @{if="isset($SHOW_DISCOUNT_PERCENT) && (bool)$SHOW_DISCOUNT_PERCENT"}
                    @{$discount_rate_sum=_int_output($total_discount_rate) * 100 / _int_output($total)}
                    <span class="text-block">@{$discount_rate_sum|round:2}%</span>
                @{/if}

            </td>
            </tr>

            @{$total=$total-$total_discount_rate}
        @{/if}
    @{/if}
@{/if}

<!-- tax per item -->
@{if="$data->list->has_tax"}
    @{if="$data->pointofsale->tax_option == 1"}

        @{if="_array($tax_exclusive)"}
            @{loop="$tax_exclusive"}
            @{if="_null($key)"}@{continue}@{/if}
            @{if="$value['rate'] == 0"}@{continue}@{/if}
                <tr>
                <td class="cell cell-empty">&nbsp;</td>
                <td class="cell cell-empty width-px-100 text-nowrap text-right">
                    @{$key} @{$value['rate']}
                </td>
                <td class="cell cell-empty width-px-10 text-nowrap text-right">
                    @{$data->currencycode->symbol}
                </td>
                <td class="cell cell-empty width-px-60 text-nowrap text-right">
                    @{$value['total']|_int_output_thousands_sep}
                </td>
                </tr>

            @{/loop}
        @{/if}

        @{if="_array($tax_inclusive)"}
            @{loop="$tax_inclusive"}
            @{if="_null($key)"}@{continue}@{/if}
            @{if="$value['rate'] == 0"}@{continue}@{/if}
                <tr>
                <td class="cell cell-empty">&nbsp;</td>
                <td class="cell cell-empty width-px-100 text-nowrap text-right">
                    Inclusive @{$key} @{$value['rate']}
                </td>
                <td class="cell cell-empty width-px-10 text-nowrap text-right">
                    @{$data->currencycode->symbol}
                </td>
                <td class="cell cell-empty width-px-60 text-nowrap text-right">
                    @{$value['total']|_int_output_thousands_sep}
                </td>
                </tr>
            @{/loop}
        @{/if}

        @{$total=$total+$total_tax_rate}
    <!-- /tax per item -->
    <!-- tax total amount -->
    @{elseif="$data->pointofsale->tax_option == 2"}

        @{if="_array($data->list->taxs)"}
            @{loop="$data->list->taxs"}

                @{if="$value.taxcode_id > 0"}
                    @{$value.tax_percent=$value.taxcode_percent} 
                    @{$value.tax_rate=$value.taxcode_rate} 
                @{/if}

                @{$tax_rate=_int_output($value.tax_rate)}

                @{if="$value.tax_percent"}

                    @{$divide=100}
                    @{if="$value.tax_operation == 1"}
                        @{$divide=100+$tax_rate}
                    @{/if}

                    @{$tax_rate_rate=_calc_percent($total, $tax_rate, $divide)}
                @{else}
                    @{$tax_rate_rate=$tax_rate}
                @{/if}

                <tr>
                <td class="cell cell-empty">

                </td>
                <td class="cell cell-empty width-px-100 text-nowrap text-right">
                    @{if="$value.tax_operation == 1"}
                        Inclusive&nbsp;
                    @{/if}
                    @{$value.tax_name} @{$value.taxcode_name} @{$tax_rate}@{$value.tax_percent ? "%" : ""}
                </td>
                <td class="cell cell-empty width-px-10 text-nowrap text-right">
                    @{$data->currencycode->symbol}
                </td>
                <td class="cell cell-empty width-px-60 text-nowrap text-right">
                    @{$tax_rate_rate|_int_output_thousands_sep}
                </td>
                </tr>

                @{if="$value.tax_operation == 0"}
                    @{$total_tax_rate=$total_tax_rate+$tax_rate_rate}
                @{/if}

            @{/loop}

            @{$total=$total+$total_tax_rate}
        @{/if}
    @{/if}
@{/if}
<!-- /tax total amount -->

<!-- rounding -->
@{if="!_null($data->pointofsale->rounding_amount) && $data->pointofsale->rounding_amount != 0"}
    <tr>
    <td class="cell cell-empty">&nbsp;</td>
    <td class="cell cell-empty width-px-100 text-nowrap text-right">
        Rounding
    </td>
    <td class="cell cell-empty width-px-10 text-nowrap text-right">
        @{$data->currencycode->symbol}
    </td>
    <td class="cell cell-empty width-px-60 text-nowrap text-right">
        @{$data->pointofsale->rounding_amount|_int_output_thousands_sep}
    </td>
    </tr>

    @{$total=$data->pointofsale->total_payable}
@{/if}

<tr>
<td class="cell cell-empty">&nbsp;</td>
<td class="cell cell-empty width-px-100 text-nowrap text-right">Grand Total</td>
<td class="cell cell-empty width-px-10 text-nowrap text-right">
    @{$data->currencycode->symbol}
</td>
<td class="cell cell-empty width-px-60 text-nowrap text-right">
    @{$total|_int_output_thousands_sep}
</td>
</tr>

<!-- payment -->
@{if="!_null($data->pointofsale->payment)"}
    <tr>
    <td class="cell cell-empty">&nbsp;</td>
    <td class="cell width-px-100 text-nowrap text-right">
        Paid
    </td>
    <td class="cell width-px-10 text-nowrap text-right">
        @{$data->currencycode->symbol}
    </td>
    <td class="cell width-px-60 text-nowrap text-right">
        @{$data->pointofsale->payment|_int_output_thousands_sep}
    </td>
    </tr>
@{/if}

@{if="!_null($data->pointofsale->payment_change)"}
    <tr>
    <td class="cell cell-empty">&nbsp;</td>
    <td class="cell cell-empty width-px-100 text-nowrap text-right">
        Change
    </td>
    <td class="cell cell-empty width-px-10 text-nowrap text-right">
        @{$data->currencycode->symbol}
    </td>
    <td class="cell cell-empty width-px-60 text-nowrap text-right">
        @{$data->pointofsale->payment_change|_int_output_thousands_sep}
    </td>
    </tr>
@{/if}

</table>
<!-- /ITEMS FOOTER -->

<br>
<center>
<span class="text-normal">
@{if="!_null($data->text->note)"}
@{$data->text->note}
@{else}
<h4>THANK YOU!</h4>
@{/if}
</span>
</center>


</td>
</tr>
</table>
<!-- /MAIN -->

</body>
</html>

